<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{template :: link_boostrap_js_jquery_icon_head}"></th:block>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" type="text/css">
<style>
    body{
        background-color: #fbf8ff;
    }
</style>
</head>
<body>
<th:block th:replace="~{template :: Header}"></th:block>

<div style="float: left">
    <p style="color: #07d89d" th:text="${message}"></p>
    <button class="btn " style="background-color: #60a7c5">
        <a th:href="@{/create-customer}">
            <i class="bi bi-folder-plus" style="color: white"> Thêm Mới</i>
        </a>
    </button>
</div>
sắp xếp
<div class="col-7 w-auto">
    <form th:action="@{/customer}" method="get">
        <div class="row px-auto">
            <div class="col-3">
                <label for="search">Sort by</label>
            </div>
            <div class="col-3">
                <select id="search" class="form-select" name="sort">
                    <option value="customerName"> Tên Khách Hàng</option>
                    <option value="customerBirthDay"> Birthday</option>
                    <option value="customerCode"> Customer Code</option>
                </select>
            </div>
            <div class="col-3">
                <label>
                    <select class="form-select" name="dir">
                        <option value="asc">Asc</option>
                        <option value="desc">Desc</option>
                    </select>
                </label>
            </div>
            <div class="col-3">
                <button class="btn btn-outline-primary" type="submit" id="button-addon2">Sort</button>
            </div>
        </div>
    </form>
</div>


<!--tìm kiếm -->
<div style="float: right">
    <form action="" th:action="@{/customer}" method="get" th:value="${customer}">
        <label>
            <input type="text" name="nameCustomerSeach" placeholder="  Tìm Kiếm Theo Tên Khách Hàng  :">
            <input type="text" name="emailCustomerSearch" placeholder="  Tìm Kiếm Địa Chi :">
            <select name="typeCustomer">
                <option value="%">Chưa Có Loại Khác Hàng</option>
                <option th:each="item  : ${customerType}"
                        th:value="${item.customerTypeId}"
                        th:text="${item.customerTypeName}"
                ></option>
            </select>
        </label>
        <button class="btn" style="background-color: #60a7c5" type="submit"> Tìm</button>
    </form>
</div>


<!--load -->
<!--<div >-->
<!--    <h5><a href="/customer"><i class="bi bi-arrow-clockwise"> Load </i></a></h5>-->
<!--</div>-->


<table class="table table-striped table-dark " style="clear: both">
    <tr STYLE="background-color: #4671c5">
        <th>Customer Id</th>
        <th>Customer Type Id</th>
        <th>Customer Code</th>
        <th>Customer Name</th>
        <th>Customer Birth Day</th>
        <th>Customer Gender</th>
        <th>Customer id Card</th>
        <th>Customer Phone</th>
        <th>Customer Email</th>
        <th>Customer Address</th>
        <th> Edit</th>
        <th>Delete</th>
    </tr>

    <tr th:each="item : ${customer}"  style="background-color: #2E2E2E">

        <td th:text="${item.customerId}"></td>

        <td >

            <div th:each="type : ${customerType}">
                <p th:if="${item.customerType.customerTypeId} ==  ${type.customerTypeId}"
                   th:text="${type.customerTypeName}">
                </p>
            </div>

        </td>

        <td th:utext="${item.customerCode}"></td>
        <td th:text="${item.customerName}"></td>
        <td th:text="${item.customerBirthDay}"></td>
        <td>
            <p th:if="${item.customerGender} == 0" class="badge badge-warning rounded-pill d-inline"> Nữ</p>
            <p th:if="${item.customerGender} == 1" class="badge badge-success rounded-pill d-inline"> Nam</p>
        </td>
        <td th:text="${item.customerCMDD}"></td>
        <td th:text="${item.customerPhone}"></td>
        <td th:text="${item.customerEmail}"></td>
        <td th:text="${item.customerAddress}"></td>
        <td>
            <button class="btn btn-warning"><a th:href="@{/{id}/edit(id=${item.getCustomerId()})}">
                <i style="color: white" class="bi bi-hammer"></i> </a></button>
        </td>

        <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                    th:attr="onclick=|deleteCustomer(${item.customerId},'${item.customerName}')|"
            >
                <i class="bi bi-x-lg"></i>
            </button>
        </td>
    </tr>
</table>


<div>
    <form th:action="@{/delete-customer}" method="post">
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xác Nhận </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" name="id" id="idDelete">
                        <input type="hidden" name="actionCustomer" value="delete">
                        <p style="color: red">Bạn có chắc muốn xóa <span id="nameDelete"></span> hay không</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!--phân Tranng-->
<div style="text-align: center">
    <div>
        <button>
            <a
                    th:attrappend="class=${!customer.hasPrevious() ? ' disabled' : ''}"
                    th:href="@{/customer/(page=${customer.number -1 },sort=${sort}, dir= ${dir}) }">
                <i class="bi bi-arrow-left-circle-fill"></i>
                Previous
            </a>
        </button>
        <span th:text="${customer.number +1}"> </span>
        /
        <span th:text="${customer.totalPages}"></span>
        <button>
            <a
                    th:attrappend="class=${!customer.hasNext() ? ' disabled' : ''}"
                    th:href="@{/customer/(page=${customer.number +1},sort=${sort}, dir= ${dir})}">
                <i class="bi bi-arrow-right-circle-fill"></i>
                Previous
            </a>
        </button>
    </div>
</div>


<th:block th:replace="~{template :: Footer}"></th:block>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>

<script>
    function deleteCustomer(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerHTML = name;
    }
</script>