<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <p> id </p>
   <p th:text="${product.id}"></p>
</div>

<div>
    <p> Tên  </p>
    <p th:text="${product.name}"></p>

</div>

<div>
    <p> giá  </p>
    <p th:text="${product.price}"></p>

</div>

<div>
    <p> số lượng  </p>
    <p th:text="${product.quantyti55}"></p>


</div>

<div>
    <p> mo tả  </p>
    <p th:text="${product.qqdescribe}"></p>


</div>

</div>
</body>
</html>