<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a th:href="@{/}">
        Back to customer list
    </a>
</p>

<div id="form">
    <form action="#" th:action="@{/update}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{nameProduct}"/>
        </div>
        <div>
            <label>Email</label>
            <input type="email" th:field="*{description}"/>
        </div>
        <div>
            <label>Address</label>
            <input type="text" th:field="*{price}"/>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div></body>
</html>