<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{template :: link_boostrap_js_jquery_icon_head}"></th:block>
</head>
<body>
<th:block th:replace="~{template :: Header}"></th:block>
<button  class="btn btn-primary btn-block mb-4">Thêm Mới Bài Hát </button>
<p >
    <a th:href="@{/}"> Back to Home </a>
</p>

<p th:text="${msg}"></p>
<form class="mx-auto" style="width: 50%;" th:object="${musicDto}" method="post" th:action="create">
    <!-- 2 column grid layout with text inputs for the first and last names -->

    <div class="row mb-4 mx-auto">
        <div class="col">
            <div class="form-outline">
                <p style=" color: red" th:if="${#fields.hasErrors('nameMusic')}"
                th:errors="*{nameMusic}"></p>
                <input type="text" id="form6Example1" class="form-control" th:field="*{nameMusic}"/>
                <label class="form-label" for="form6Example1">Tên bài hát</label>
            </div>
        </div>

        <div class="col">
            <div class="form-outline">
                <p style="color: red" th:if="${#fields.hasErrors('artist')}"
                   th:errors="*{artist}"></p>

                <input type="text" id="form6Example2" class="form-control" th:field="*{artist}"/>
                <label class="form-label" for="form6Example2"> Nghệ sĩ thể hiện</label>
            </div>
        </div>
    </div>

    <!-- Text input -->
    <div class="form-outline mb-4">
        <p style="color: red" th:if="${#fields.hasErrors('category')}"
           th:errors="*{category}"></p>
        <input type="text" id="form6Example3" class="form-control" th:field="*{category}"/>
        <label class="form-label" for="form6Example3"> Thể loại nhạc</label>
    </div>

    <!-- Text input -->
    <div class="form-outline mb-4">
        <input type="text" id="form6Example4" class="form-control" th:field="*{pathFileMusic}"/>
        <label class="form-label" for="form6Example4"> Đường dẫn file bài hát</label>
    </div>


    <!-- Message input -->
    <div class="form-outline mb-4">
        <textarea class="form-control" id="form6Example7" rows="4"></textarea>
        <label class="form-label" for="form6Example7">Additional information</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Thêm Mới</button>


</form>
<th:block th:replace="~{template :: Footer}"></th:block>
</body>
</html>