<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a th:href="@{/}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/update}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <div>Tên sản Phẩm :
       <span th:text="*{nameProduct}"></span>
        </div>
        <div>Mô tả :
            <span  th:text="*{description}"></span>
        </div>
        <div>Giá  :
            <span th:text="*{price}"></span>
        </div>
    </form>
</div>
</body>
</html>