<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #success_message {
            display: none;
        }
    </style>
    <th:block th:replace="~{template :: link_boostrap_js_jquery_icon_head}"></th:block>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="~{template :: Header}"></th:block>

<marquee>

    <h6> Xin Mời Chọn Loại Dịch Vụ </h6>

</marquee>


<div class="container" th:object="${service}">

    <form class="well form-horizontal" th:action="@{service/add-service}" method="post" id="contact_form">
        <fieldset>

            <legend>Contact Us Today!</legend>
            <div class="form-group">
                <label class="col-md-4 control-label">Tên Dich Vụ</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input th:field="*{serviceName}" name="phone" placeholder="tên dịch vụ " class="form-control"
                               type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"> Loại Thuê </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <label>
                            <select th:field="*{rentTypeService}">
                                <option th:each="rent : ${rentType}"
                                        th:value="${rent.getRentTypeId()}"
                                        th:text="${rent.getRentTypeName()}"
                                ></option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Giá </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <input th:field="*{serviceCost}" name="website" placeholder="Giá" class="form-control"
                               type="text">
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-4 control-label"> số Nguòi tối đa </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <input th:field="*{serviceMaxPeople}" name="website" placeholder="max people  "
                               class="form-control"
                               type="text">
                    </div>
                </div>
            </div>

            <div>

                <select name="" id="select" th:field="*{serviceType}">
                    <option value="">--- Chưa Có Dịch Vụ ---</option>
                    <option th:each="item : ${typeService}"
                            th:value="${item.serviceTypeId}"
                            th:text="${item.serviceTypeName}"
                    ></option>

                </select>
            </div>

            <div class="form-group" id="mienPhi">
                <label class="col-md-4 control-label">Dich Vụ Miển Phí </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <input th:field="*{serviceFree}" name="website" placeholder="Miễn Phí " class="form-control"
                               type="text">
                    </div>
                </div>
            </div>
            <div class="form-group" id="moTa">
                <label class="col-md-4 control-label"> Mô Tả Tiện Nghi Khác</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input th:field="*{descriptionOtherConvernience}" name="first_name"
                               placeholder="Mô tả tiện nghi  " class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group" id="soTang">
                <label class="col-md-4 control-label">Số Tầng </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input th:field="*{numberOffFloors}" name="last_name" placeholder=" số tầng "
                               class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group" id="tieuChuan">
                <label class="col-md-4 control-label">Tiêu Chuẩn pphòng </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input th:field="*{standardRoom}" name="address" placeholder="Tiêu Chuẩn pphòng"
                               class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group" id="hoBoi">
                <label class="col-md-4 control-label">Diẹn tích Hồ Bơi</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input th:field="*{poolArea}" name="email" placeholder="Diện tích hồ bơi " class="form-control"
                               type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-warning">Send <span
                                class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<th:block th:replace="~{template :: Footer}"></th:block>

</body>
</html>
<script>
    $("#moTa").hide()
    $("#soTang").hide()
    $('#tieuChuan').hide()
    $('#hoBoi').hide()
    $('#mienPhi').hide()

    $("#select").change(function () {
        if (this.value == 1) {
            $("#moTa").show()
            $("#soTang").show()
            $('#tieuChuan').show()
            $('#hoBoi').show()
            $('#mienPhi').hide()
            $('#mienPhi').val("")
        } else if (this.value == 2) {
            $("#moTa").hide()
            $("#moTa").val("")
            $("#hoBoi").hide()
            $("#hoBoi").val("")
            $("#mienPhi").hide()
            $("#mienPhi").val("")
            $("#soTang").show()
            $('#tieuChuan').show()
        } else if (this.value == 3) {
            $("#moTa").hide()
            $("#moTa").val("")
            $("#soTang").hide()
            $("#soTang").val("")
            $("#hoBoi").hide()
            $("#hoBoi").val("")
            $('#tieuChuan').hide()
            $('#mienPhi').show()
        } else {
            $("#moTa").hide()
            $("#soTang").hide()
            $('#tieuChuan').hide()
            $('#hoBoi').hide()
            $('#mienPhi').hide()
        }
    })

</script>